.notices {
  width: calc(100% - 16px);
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 8px 0;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.notice {
  padding: 1em;
}

.notice:last-child {
  border-bottom: 1px solid #CCC;
}