.container {
  width: 100%; height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  flex-shrink: 0;

  height: 100%; min-width: 4em;
}

.button {
  height: 4em;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  min-width: 4em;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.divider {
  flex-grow: 1;
}
