$select-padding: 4px;

.select {
  appearance: none;
  padding: $select-padding;
  height: 32px;
  border: 1px solid #CCC;
  border-radius: 4px;
  outline: none;
  width: 128px;
  background: #FFF svg-load(arrow.svg) no-repeat right $select-padding center / 10px;
}
