.today {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.period {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0.8em 1em;
}

.next {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  color: #000;
}

.countdown {
  font-size: 5em;
  font-weight: 100;
}