.today {
  width: calc(100% - 16px);
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 8px;
  box-sizing: border-box;
}

.period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.next {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  color: #000;
}

.countdown {
  font-size: 5em;
  font-weight: 100;
}