@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #212121;
  background: #FFF;
}

a {
  color: #0af;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

a:hover {
  color: red;
}

@media (max-width: 480px) {
  #app { font-size: 12px; }
}
