.controls, .timetable {
  width: calc(100% - 16px);
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 4px;
  box-sizing: border-box;
}

.control {
  flex: 1 1 auto;
  text-align: center;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  user-select: none;
}

.period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.84em;
  padding: 16px;
}

.row {
  display: flex;
  width: 100%;
}