.item {
  min-width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  transition: all 0.2s;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .item {
    justify-content: flex-start;
    padding-left: 1em;
  }

  .item::after {
    content: attr(title);
    padding-left: 1em;
    padding-right: 1em;
  }
}

.button {
  cursor: pointer;
}

.button:active {
  color: cyan;
}
